%p                                                                   
  = form_tag sessions_path do |f|                                    
    Password:#{password_field_tag :password} #{submit_tag "Log in"}  