- title "tags"

.grid_9
  .canvas
    .canvas_content
      %h1
        = yield(:title)
  
      %p= will_paginate @tags, :class => "digg_pagination"
      = render "shared/tags"
      %p= will_paginate @tags, :class => "digg_pagination"

