- title "about me"

.grid_9
  .canvas
    .blog_content
      %h1= yield(:title)
      
      %h2 Jonathan (Jonny) Johannes 
      %p 
        I currently work for a startup called #{link_to "Foodtree", "http://foodtree.com"}.

.grid_3.sidebar
  = render "shared/contact"
