- title "about me"

.grid_9
  .canvas{:style => "height: 360px; margin-bottom: 20px;"}
    .canvas_content
      %h1= yield(:title)
      
      %h2{:style => "margin-bottom: 20px;"} Jonathan (Jonny) Johannes 
      .grid_3.alpha
        = image_tag "/images/profile.jpg", :width => "220px"
      
      .grid_5.omega
        %p 
          Your friendly neighbourhood lover of tech, food and physics. 
          %em 
            Smart Guy Who Gets Things Done at #{link_to "@foodtree", "http://twitter/foodtree"}.

.grid_3.sidebar
  = render "shared/contact"
