- title "Canned Food: #{@canned_food.name.titleize}"

= content_for :head do
  %script{:src => "http://maps.google.com/maps/api/js?sensor=true", :type => "text/javascript"}
  %script{:src => "/javascripts/maps.js", :type => "text/javascript"}
  
.grid_6  
  = render :partial => @canned_food
  
.grid_6
  #loading_gif= image_tag('/images/loading-gif-animation.gif', :width => '50px', :height => '50px')
  #click_around
    %h2 Click around the map!
  #map_canvas
  
  #elevation
:javascript
  VR.hide_elevations();
     
      